@import url("./utility/utils.css");

@import "tailwindcss";

@theme {
  /* Primary */
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
  --color-primary-light: var(--primary-light);

  /* Secondary */
  --color-secondary: var(--secondary);
  --color-secondary-light: var(--secondary-light);

  /* Background */
  --color-background: var(--background);
  --color-background-soft: var(--background-soft);
  --color-background-section: var(--background-section);

  /* Text */
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-muted: var(--text-muted);
  --color-text-light: var(--text-light);

  /* Border */
  --color-border: var(--border);
  --color-border-light: var(--border-light);

  /* Status */
  --color-success: var(--success);
  --color-success-light: var(--success-light);

  --color-danger: var(--danger);
  --color-danger-light: var(--danger-light);

  --color-warning: var(--warning);
  --color-warning-light: var(--warning-light);

  --color-info: var(--info);
  --color-info-light: var(--info-light);

  /* Product */
  --color-sale: var(--sale);
  --color-rating: var(--rating);

  /* Radius */
  --radius-sm: var(--radius-sm);
  --radius-md: var(--radius-md);
  --radius-lg: var(--radius-lg);
  --radius-xl: var(--radius-xl);
  --radius-2xl: var(--radius-2xl);

  /* Shadows */
  --shadow-sm: var(--shadow-sm);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
}

body{
 background-color: #eef2ff;   
}